/*  #FCF5EE
    FBE8E7
    F7DDDE
    FFC4D0 */

  
    * {
      box-sizing: border-box;
    }
    
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width: 100vw;
      margin: 0;
    }
    h1{
          text-align: center;
          font-family: 'Inter', sans-serif;
          font-size: 300%;
          color: white;
      }
    header {
      background: #FFC4D0;
      height: 15vh;
      
    }
    
    main {
      display: flex;
      height: 100%;
    }
    
    
    article {
      flex: 4;
      background: #fff;
    }
    
    
    footer {
      background: #FFC4D0;
      height: 10vh;
    }
    
    header,
    footer,
    article {
      padding: 1em;
    }
    
   